.header{
    grid-area: header;


nav.navbar.navbar-expand-lg.navbar-light{
background-color: rgba(207, 169, 125, 0.705);
font-family: "Kaushan_Script";
src: url("/css/Kaushan_Script/KaushanScript-Regular.ttf");
    }
} //del hader